<!DOCTYPE html>
<html>
<title>Linear Regression</title>
<body>

<form action = "/getdelay" method="POST">
	<p> Complex age:<input name="x1" type ="text" value="42" /> </p>
	<p> Total rooms: <input name="x2" type ="text" value="2555" /> </p>
    <p> Total bedrooms: <input name="x3" type ="text" value="595" /> </p>
	<p> Complex inhabitants:<input name="x4" type ="text" value="665" /> </p>
	<p> Nr of apartments: <input name="x5" type ="text" value="1206" /> </p>
	<p> <input type ="submit" value="submit" /> </p>

</form>
</body>
</html>
